@import url("responsive.css");
@import url("typography.css");


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #f0f0f0;
  padding: 36px 20px;
  min-height: 100vh;
}
