@import url("typography.css");
@import url("components.css");
@import url("layout.css");
@import url("responsive.css");

body {
  font-size: 16px;
  color: #222;
  background-color: #ffffff;
  padding: 36px 20px;
  min-height: 100vh;
}
